<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKENNfA2dcUG-9o9XEPujx54F9zmQsTCg</string>
	<key>GCM_SENDER_ID</key>
	<string>555136459954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.palmyrasoft.groupify</string>
	<key>PROJECT_ID</key>
	<string>groupify-758bb</string>
	<key>STORAGE_BUCKET</key>
	<string>groupify-758bb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555136459954:ios:e2cfebbe055ad5184155ab</string>
</dict>
</plist>